<header>
    <h1>History of the Internet in UAE</h1>
    <nav>
        <img id="logo" src="/images/website_logo.png" alt="Website Logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/page-one">Early ISPs</a></li>
            <li><a href="/page-two">Digital Growth</a></li>
            <li><a href="/page-three">Modern Internet</a></li>
        </ul>
    </nav>
</header>